<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430035827483-tvutmtim1p1aprmjigou4p4t3jm37fr5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430035827483-tvutmtim1p1aprmjigou4p4t3jm37fr5</string>
	<key>API_KEY</key>
	<string>AIzaSyCUtbySDLg9cJEotxgOGT5kLzGPq8kjpak</string>
	<key>GCM_SENDER_ID</key>
	<string>430035827483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adeyemiOsifeso.Kadel.Gbese-Tracker</string>
	<key>PROJECT_ID</key>
	<string>gbese-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>gbese-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430035827483:ios:2af4d9569d609428bb71be</string>
</dict>
</plist>